/*------ Style Class - Background VBox ------*/
.background-VBox {
    -fx-background-color: #f0edef;
}

/*------ Style Class - Widgets ------*/
.widget-VBox {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
}

/*------ Style Class - structuring content ------*/
.struct-Box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-spacing: 15px;
}

/*------ Style Class - Daily check-in ------*/
.widget-VBox {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
}

/*------ Style Class - Library Buttons ------*/
.libraryButton {
    -fx-background-color: transparent;
}

/*------ Style Class - Library Widgets ------*/
.libraryWidget {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
    -fx-pref-width: 370;
    -fx-pref-width: 130;
    -fx-min-width: 370;
    -fx-min-height: 130;
    -fx-spacing: 15;
}

.libraryVbox {
    -fx-background-color: transparent;
    -fx-pref-width: 190;
    -fx-pref-width: 130;
    -fx-min-width: 190;
    -fx-min-height: 130;
    -fx-spacing: 15;
}

.text-area {
    -fx-pref-row-count: 3;
    -fx-wrap-text: true;
}

/*------ Style Class - Nav header Buttons ------*/
.navButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: #000000;
    -fx-font-size: 15pt:
}

/*------ Style Class - Nav header Bar ------*/
.navBar {
    -fx-background-color: #ffffff;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
}