/*------------------------ Universal ------------------------*/
/*------ Style Class - Background AnchorPane ------*/
.background-AnchorPane {
    -fx-min-height: 768px;
    -fx-max-width: 1024px;
    -fx-pref-height: 768px;
    -fx-pref-width: 1024px;
    -fx-min-height: 768px;
    -fx-padding: 0 0 0 0;
}

/*------ Style Class - Background StackPane ------*/
.background-StackPane {
    -fx-background-color: transparent;
    -fx-min-height: 768px;
    -fx-max-width: 1024px;
    -fx-pref-height: 768px;
    -fx-pref-width: 1024px;
    -fx-min-height: 768px;
}

/*------ Style Class - Widgets ------*/
.widget-VBox {

    -fx-border-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
}

/*------ Style Class - structuring content ------*/
.struct-Box {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-spacing: 15px;
}

/*------ Style Class - structuring content ------*/
.struct-Box-NS {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

Button {
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-cursor: hand;
}

/*------ Style Class - Supporting Text ------*/
.supportingText {
    -fx-fill: #787878;
}

/*------ Style Class - Inverse Dropshadow ------*/
.innerDropshadow {
    -fx-effect: innershadow(three-pass-box, #00000033, 16, 0.1, 5, 5);
}

.title {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
}

.bold {
    -fx-font-weight: bold;
}

.login-menu {
    -fx-max-width: 600;
    -fx-max-height: 400;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-padding: 20;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
}

.call-to-action {
    -fx-background-color: #8cc978;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.submission {
    -fx-border-color: #8CC978;
}

.alert {
    -fx-background-color: crimson;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.card {
    -fx-background-color: -color-bg-default;
    -fx-border-width: 2px;
    -fx-border-color: -color-border-default;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
}

/*------ Style Class - Empty Button ------*/
.emptyButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

/*------------------------ Nav Header ------------------------*/
/*------ Style Class - Nav header Buttons ------*/
.navButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 15pt;
    -fx-cursor: hand;
}

/*------ Style Class - Nav header Bar ------*/
.navBar {
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
}

/*------------------------ Page - Dashboard ------------------------*/
/*------ Style Class - Daily check-in ------*/
.widget-VBox {
    -fx-border-color: #ffffff;
    -fx-background-radius: 15px;
    -fx-border-width: 0px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
}

/*------ Style Class - Recomended Quiz Widget ------*/
.recomendedQuiz {
    -fx-background-color: linear-gradient(to bottom, transparent, #ce78b1);
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
    -fx-cursor: hand;
}

/*------ Style Class - Recomended Puzzle Widget ------*/
.recomendedPuzzle {
    -fx-background-color: linear-gradient(to bottom, transparent, #79d1ed);
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
    -fx-cursor: hand;
}

/*------ Style Class - Daily Check in Widget ------*/
.dailyCIWidget {
    -fx-background-color: #8cc978;
    -fx-border-color: transparent;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
    -fx-cursor: hand;
}


/*------------------------ Page - Quiz/Puzzle Library ------------------------*/
/*------ Style Class - Library Buttons ------*/
.libraryButtonPrimary {
    -fx-cursor: hand;
    -fx-background-color: #8cc978;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}
.libraryButtonSecondary {
    -fx-cursor: hand;
    -fx-border-width: 2px;
    -fx-border-color: #8CC978;
}


/*------ Style Class - Library Widgets ------*/
.libraryWidget {
    -fx-background-radius: 15px;
    -fx-effect: dropshadow(three-pass-box, #00000033, 15, 0.1, 5, 5);
    -fx-pref-width: 370;
    -fx-pref-width: 130;
    -fx-min-width: 370;
    -fx-min-height: 130;
    -fx-spacing: 15;
}

/*------ Style Class - Library Vbox ------*/
.libraryVbox {
    -fx-background-color: transparent;
    -fx-pref-width: 190;
    -fx-pref-width: 130;
    -fx-min-width: 190;
    -fx-min-height: 130;
    -fx-spacing: 15;
}

/*------ Style Class - Library Widget text area ------*/
.text-area {
    -fx-pref-row-count: 3;
    -fx-wrap-text: true;
}

/*------------------------ Page - Quiz/Puzzle ------------------------*/
/*------ Style Class - Quiz Backing Vbox ------*/
.Quiz-Backing-VBox {
    -fx-max-height: 768px;
    -fx-max-width: 500px;
    -fx-pref-height: 768px;
    -fx-pref-width: 500px;
    -fx-min-height: 768px;
    -fx-effect: dropshadow(three-pass-box, transparent, 15, 0.1, 5, 0);
}